<!DOCTYPE html>
<html>
  <head>
    <title>FriendsConnection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <ul class="nav justify-content-end">
        <% if user_signed_in? %>
          <a class="nav-link text-dark"><%= current_user.email %></a>
          <%= link_to "Users List", users_path, class: "nav-link" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>

      <div class="col-md-6 mx-auto">
        <% if notice %>
        <div class="alert alert-warning text-centere" role="alert">
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert alert-warning text-center" role="alert">
          <%= alert %>
        </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
